<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mirage Systems - Home</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Welcome to Mirage" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
  <link rel="manifest" href="assets/img/site.webmanifest">
  <script src="https://unpkg.com/htmx.org@1.8.4"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet">
</head>

<body class="bg-slate-300 my-[8rem] mx-4 sm:mx-[18rem] bg-slate-200">
  <header aria-label="Site Header" class="my-4 absolute inset-x-0 top-0" hx-get="/components/header.html" hx-trigger="load"></header>
  <div id="banner" class="flex mt-[7rem] justify-center" hx-get="/pages/home/banner.html" hx-trigger="load"></div>
  <div class="flex w-96 my-8 justify-self-center mx-auto border-t border-slate-400"></div>
  <div id="banner" class="flex justify-center" hx-get="/pages/home/clinihub.html" hx-trigger="load"></div>
</body>
</html>
