<div
  id="editmodal"
  class="flex fixed justify-center bg-blackabsolute top-0 z-50 inset-0 overflow-y-auto h-full w-full px-4"
>
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); " class="absolute mx-auto my-auto shadow-lg rounded-md bg-white w-full sm:w-auto h-4/5 sm:h-auto">
    <!-- Modal header -->
    <div
      id="editmodalHeader"
      class="flex justify-between items-center bg-teal-700 text-white rounded-t-md px-4 py-1 z-50"
    >
      <h5>Subscribe</h5>
      <button onclick="closeModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <!-- Modal body -->
    <div id="editmodalbody" class="max-h-100 p-4">
      <div
        id="content"
        class="p-8 bg-slate-200 rounded-lg shadow-lg lg:p-4 lg:col-span-3 z-50"
      >
        <div>
          <div class="flex mx-auto justify-center rounded-xl">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup" class="rounded-xl">
              <form
                action="https://miragesys.us18.list-manage.com/subscribe/post?u=0275b74aef481927487752db7&amp;id=9d7431925a&amp;v_id=5046&amp;f_id=00e92ae7f0"
                method="post"
                id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form"
                class="validate"
                target="_blank"
                novalidate
              >
                <div id="mc_embed_signup_scroll">
                  <h2>Subscribe</h2>
                  <div class="indicates-required">
                    <span class="asterisk">*</span> indicates required
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL"
                      >Email Address <span class="asterisk">*</span>
                    </label>
                    <input
                      type="email"
                      value=""
                      name="EMAIL"
                      class="required email"
                      id="mce-EMAIL"
                      required
                    />
                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                  </div>
                  <div class="mc-field-group">
                    <label for="mce-NAME">Name </label>
                    <input
                      type="text"
                      value=""
                      name="NAME"
                      class=""
                      id="mce-NAME"
                    />
                    <span id="mce-NAME-HELPERTEXT" class="helper_text"></span>
                  </div>
                  <div class="mc-field-group size1of2">
                    <label for="mce-PHONE">Phone Number </label>
                    <input
                      type="text"
                      name="PHONE"
                      class=""
                      value=""
                      id="mce-PHONE"
                    />
                    <span id="mce-PHONE-HELPERTEXT" class="helper_text"></span>
                  </div>
                  <div
                    id="mergeRow-gdpr"
                    class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group"
                  >
                    <div class="content__gdpr">
                      <label>Marketing Permissions</label>
                      <p>
                        Please select all the ways you would like to hear from
                        Mirage System AB:
                      </p>
                      <fieldset
                        class="mc_fieldset gdprRequired mc-field-group"
                        name="interestgroup_field"
                      >
                        <label class="checkbox subfield" for="gdpr_93706"
                          ><input
                            type="checkbox"
                            id="gdpr_93706"
                            name="gdpr[93706]"
                            value="Y"
                            class="av-checkbox gdpr"
                          /><span>Email</span> </label
                        ><label class="checkbox subfield" for="gdpr_93714"
                          ><input
                            type="checkbox"
                            id="gdpr_93714"
                            name="gdpr[93714]"
                            value="Y"
                            class="av-checkbox gdpr"
                          /><span>Phone</span>
                        </label>
                      </fieldset>
                      <p class="text-xs">
                        You can unsubscribe at any time by clicking the link in
                        the footer of our emails. For information about our
                        privacy practices, please visit our website.
                      </p>
                    </div>
                    <div class="content__gdprLegal text-xs">
                      <p>
                        We use Mailchimp as our marketing platform. By clicking
                        below to subscribe, you acknowledge that your
                        information will be transferred to Mailchimp for
                        processing.
                        <a
                          href="https://mailchimp.com/legal/terms"
                          target="_blank"
                          >Learn more about Mailchimp's privacy practices
                          here.</a
                        >
                      </p>
                    </div>
                  </div>
                  <div id="mce-responses" class="clear foot">
                    <div
                      class="response"
                      id="mce-error-response"
                      style="display: none"
                    ></div>
                    <div
                      class="response"
                      id="mce-success-response"
                      style="display: none"
                    ></div>
                  </div>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div
                    style="position: absolute; left: -5000px"
                    aria-hidden="true"
                  >
                    <input
                      type="text"
                      name="b_0275b74aef481927487752db7_9d7431925a"
                      tabindex="-1"
                      value=""
                    />
                  </div>
                  <div class="optionalParent">
                    <div class="flex -ml-4 justify-between">
                      <input
                        class="rounded-xl bg-teal-600 text-white px-5 py-2 cursor-pointer"
                        type="submit"
                        value="Subscribe"
                        name="subscribe"
                        id="mc-embedded-subscribe"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <script type="text/javascript">
          function openModal(modalId) {
            modal = document.getElementById(modalId);
            modal.classList.remove("hidden");
          }

          function closeModal() {
            modal = document.getElementById("editmodal");
            modal.remove()
          }

          dragElement(document.getElementById("editmodal"));

          function dragElement(elmnt) {
            var pos1 = 0,
              pos2 = 0,
              pos3 = 0,
              pos4 = 0;
            if (document.getElementById("editmodalHeader")) {
              // if present, the header is where you move the DIV from:
              document.getElementById("editmodalHeader").onmousedown =
                dragMouseDown;
            } else {
              // otherwise, move the DIV from anywhere inside the DIV:
              elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
              e = e || window.event;
              e.preventDefault();
              // get the mouse cursor position at startup:
              pos3 = e.clientX;
              pos4 = e.clientY;
              document.onmouseup = closeDragElement;
              // call a function whenever the cursor moves:
              document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
              e = e || window.event;
              e.preventDefault();
              // calculate the new cursor position:
              pos1 = pos3 - e.clientX;
              pos2 = pos4 - e.clientY;
              pos3 = e.clientX;
              pos4 = e.clientY;
              // set the element's new position:
              elmnt.style.top = elmnt.offsetTop - pos2 + "px";
              elmnt.style.left = elmnt.offsetLeft - pos1 + "px";
            }

            function closeDragElement() {
              // stop moving when mouse button is released:
              document.onmouseup = null;
              document.onmousemove = null;
            }
          }
        </script>
        <script
          type="text/javascript"
          src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
        ></script>
        <script type="text/javascript">
          (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = "EMAIL";
            ftypes[0] = "email";
            fnames[2] = "NAME";
            ftypes[2] = "text";
            fnames[4] = "PHONE";
            ftypes[4] = "phone";
          })(jQuery);
          var $mcj = jQuery.noConflict(true);
        </script>
        <!--End mc_embed_signup-->
      </div>
      <script>
        function positionDiv(scrollTop, scrollLeft) {

            // Get the dimensions of the div element
            var div = document.getElementById('editmodal');
            var divWidth = div.offsetWidth;
            var divHeight = div.offsetHeight;
          
            // Calculate the position of the div element
            var top = scrollTop + (window.innerHeight - divHeight) / 2;
            var left = scrollLeft + (window.innerWidth - divWidth) / 2;
            // Set the position of the div element
            div.style.top = top + 'px';
            div.style.left = left + 'px';

          }
          
          // Call the function when the page loads
          window.onload = positionDiv(scrollTop, scrollLeft);
          
          // Call the function whenever the user scrolls
          window.onscroll = positionDiv(scrollTop, scrollLeft);
      </script>
      <script>
        var EMAIL = document.getElementById('emailInput').value
        if (EMAIL) {
            document.getElementById("mce-EMAIL").value = EMAIL;
        }
      </script>
      <style>
        #editmodal {
          position: absolute;
          z-index: 10;
        }

        #editmodalHeader {
          cursor: move;
          z-index: 9;
        }
      </style>
      <style type="text/css">
        #mc_embed_signup {
          background: #fff;
          clear: left;
          font: 14px Helvetica, Arial, sans-serif;
          width: 600px;
        }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <style type="text/css">
        #mc-embedded-subscribe-form input[type="checkbox"] {
          display: inline;
          width: auto;
          margin-right: 10px;
        }
        #mergeRow-gdpr {
          margin-top: 20px;
        }
        #mergeRow-gdpr fieldset label {
          font-weight: normal;
        }
        #mc-embedded-subscribe-form .mc_fieldset {
          border: none;
          min-height: 0px;
          padding-bottom: 0px;
        }
      </style>
    </div>
  </div>
</div>
